%h1 Ontology #{@ontology.capitalize}

= render partial: 'dbd_onto_engine/shared/links'

%div.ontology
  %p U stands for "used"
  %table
    %thead
      %tr
        %th U
        %th Predicate
        %th Label
        %th Comment
    %tbody
      = render partial: 'ontology_predicate', collection: @ontology_predicates
